:root {
  --primary: #092746;
  --secondary: #0f4478;
  --ternary: #4b0d49;
  --accent: #bb57aa;
  --darkaccent: #923b83;
  --positive: chartreuse;
  --black: #171321;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --sans: 'Titillium Web', sans-serif;
  --mono: 'Azeret Mono', monospace;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1, h2, h3 {
  margin: 0;
}

a {
  color: var(--accent);
  font-weight: 550;
}

a:hover {
  color: var(--darkaccent);
  text-decoration: none;
}

/* intro styles */

#intro {
  padding-bottom: 10rem;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--positive);
  display: block;
}

#intro h2 {
  font-size: 4rem;
}

#contact {
  background-color: var(--ternary);
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 1rem;
}

#contact p:last-child {
  margin-top: 3rem;
}

nav {
  font-family: var(--mono);
  font-size: 80%;
  background-color: var(--primary);
}

nav h1 a {
  font-family: var(--sans);
}
nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--positive);
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--positive);
}

nav a {
  color: var(--white);
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--accent);
}

/* resume button */
.button {
  background-color: var(--accent);
  padding: 0.4rem;
  border-radius: 3px;
}

.button:hover {
  color: var(--white);
  background-color: var(--darkaccent);
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
