:root {
  --primary: #092746;
  --secondary: #0f4478;
  --ternary: #0e9da2;
  --accent: #f9b23a;
  --darkaccent: #b27205;
  --positive: rgb(21, 255, 0);
  --black: #171321;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --sans: 'Titillium Web', sans-serif;
  --mono: 'Azeret Mono', monospace;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1, h2, h3 {
  margin: 0;
}

a {
  color: var(--accent);
  font-weight: 550;
}

a:hover {
  color: var(--darkaccent);
  text-decoration: none;
}

/* resume button */
.button {
  color: var(--white);
  background-color: var(--accent);
  padding: 0.4rem;
  border-radius: 3px;
  font-family: var(--mono);
  text-decoration: none;
  font-weight: 800;
}

.button:hover {
  color: var(--white);
  background-color: var(--darkaccent);
}


/* Background color divs */
.section-contact {
  background-color: var(--ternary);
  width: 100%;
}

.section-projects {
  background-color: var(--secondary);
  width: 100%;
}

.section-about {
  background-color: var(--secondary);
  width: 100%;
}

.gradient {
  background: linear-gradient(90deg, var(--positive) 0%, var(--ternary) 100%);
  height: 2px;
}

.gradient-reverse {
  background: linear-gradient(90deg, var(--ternary) 0%, var(--positive) 100%);
  height: 2px;
}
