* {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  background: #f1c40f;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 50%;
}

.mainstuff {
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.toptext {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
}


.buttonsdiv {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.redirect {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 15px;
  border-radius: 2px;
  outline: none;
  opacity: 0.8;
}

.credits {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

img {
  position: fixed;
  bottom: 10px;
  left: 10px;
  background-color: rgb(0, 18, 43);
  width: 50px;
}
.credits {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  text-align: right;
}
.githublink {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

img {
  mix-blend-mode: multiply;
}