body {
  /* background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); */
            background: linear-gradient(#eebbbb, #9198e5);
  height: 100vh;
}

.buttonsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toptext {
  font-size: 50px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mainstuff {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.projectDate {
	color:#000000;
	text-shadow:-2px 3px 5px #888888;  
  font-size: 25px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 40px 10px 40px;

  text-align: center;
  
    /* background-color:#ffffff; */
}

.link {
    /* box-shadow:inset -6px 1px 0px -18px #ffffff; */
	/* background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%); */
	/* background-color:#ffffff; */
	/* border-radius:7px; */
	/* border:3px solid #666666; */
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
    text-align: center;
	padding:12px 24px;
	text-decoration:none;
    line-height: 40px;
	text-shadow:-2px 3px 5px #000000;  
}
